/*FOOTER*/
footer {
	margin-top: 5%;
	background-color: #f6f6f6;
}
footer .top-footer p, footer {
	text-align: center;
	padding-top: 15px;
}

footer .top-footer button, footer .top-footer {
	margin: 0 auto;
    display: block;
}
footer .bottom-footer .footer-title {
	border-bottom: 2px solid #b218d2;
	padding-bottom: 3px;
}

.bottom-footer-container{
	background-color: #FFFF;
	margin-top: -38px;
	padding-top: 40px;
}
.logo-partners {
	display: flex;
    width: min-content;
    margin: auto;
}

.btn-footer-join-us {
	color: #fff;
    background-color: #bd0fe0;
    border-color: #bd0fe0;
    width: 150px;
}

.charity-work-container {
  margin-bottom: 10px !important;
}

.logo-partners-img {
	height: 100px;
	margin-left: 20px;
}

.about-footer > p, .contact-footer > p{
	margin-top: 10px;
}

.footer-ul-menu-link-bullet {
    margin: 0;
    padding: 0 14px;
    list-style: none;
}
.footer-ul-menu-link-bullet > li:before { 
	content: "";
    border-color: transparent #bd0fe0;;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 16.9px;
    position: relative;
}

.we-accept > img {
	width: 170px;
	margin: 30px 0 30px 0;
}

.social-media-footer > img {
	height: 25px;
	margin: 30px 10px 30px 0;
}

.footer-copyright-container {
	display: flex;
}

.footer-copyright {
	margin: auto;
}