.header-container{
	width: 80%;
	margin: auto;
}

.header-title {
	color: #bd0fe0;
}

.header-login-separator {
	margin: auto;
}
.header-mega-dropdown {
  position: static !important;
}

.header-mega-dropdown-menu  {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: blueviolet !important;
    /*border: 1px solid crimson !important;*/
}

/*.header-mega-dropdown-menu  {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;

}*/

.header-dropdown-menu {
  list-style: none !important;
}
.header-dropdown-menu > li >a{
	color: #d5d8d8;
}

.header-dropdown-menu > li > span{
	padding-left: 30px;
	color: #FFFF;
}

.header-dropdown-menu > li >a:hover,
.header-dropdown-menu > li >a:focus {
  text-decoration: none;
  color: #FFFF;
}

.header-search-dropdown {
  position: static !important;
}

.header-search-dropdown-menu  {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.header-search-container {
  width: 80%;
  float: right;

}
.header-search-text {
  width: 100% !important;
}

.header-search-text-container{
  width: 65%;
  margin-right: 10px;
}
.header-search-btn-container {
  margin-right: 10px;
}

.btn-header-search {
    color: #fff;
    background-color: #bd0fe0;
    border-color: #bd0fe0;
    width: 150px;
}

.header-search-select{
  border-color: #bd0fe0;
}

.selectdiv {
  position: relative;
  
  float: left;
  min-width: 200px;
  margin: 0;
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #bd0fe0;
    right: 10px;
    top: 0;
    height: 36px;
    padding: 10px 0px 0px 8px;
    border-left: 1px solid #bd0fe0;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button */
select::-ms-expand {
display: none;
}

.selectdiv select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 38px;
  float: right;
  margin: 0;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #bd0fe0;
  -ms-word-break: normal;
  word-break: normal;
}